* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 500;
}

@font-face  {
    font-family: Raleway, sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap);
    font-style: normal;
    font-weight: 500
}

.burger_nav {
    background: #E1EDE6;
    display: flex;
    width: 100%;
    padding: 16px 6% 13px 6%;
    justify-content: space-between;
}

.burger_img {
    padding-bottom: 16px;
    padding-top: 16px;
    display: flex;
    justify-content: center;
}

.burger_menu_main {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.navigations_divs {
    display: flex;
    flex-direction: column;
    background: #E1EDE6;
    gap: 50px;
    padding: 10px 6% 50px 6%;
}

.nav_burger_menu {
    color: #2C2D35;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header_name_img {
    height: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 497px;
    flex-shrink: 0;
    background: #E1EDE6;
    width: 100%;
    display: flex;
}

.content_left {
    display: flex;
    width: 77%;
    max-width: 1110px;
    margin: auto;
    justify-content: space-between;
}
.list {
    list-style: none;
    display: flex;
    gap: 60px;
    align-items: center;
}

.li_comp {
    font-size: 20px;
    font-family: Raleway, sans-serif;
    color: #2C2D35;
    cursor: pointer;
}

.li_comp:hover {
    color: #598d66;
    transition: 0.6s;
}

.svg_header:hover {
    color: #598d66;
    transition: 0.6s;
}

.img_name {
    display: flex;
    align-items: center;
}

.img_pr {
    width: 50%;
    flex-shrink: 0;
    transform: scale(-1, 1);
    object-fit: contain;
}

.title_pr {
    font-family: Raleway, sans-serif;
    color: #2C2D35;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 20px;
}

.title_sp {
    color: #598D66;
    font-family: Raleway, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.description_pr {
    color: #86928B;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding-bottom: 60px;
}

.pres {
    display: flex;
    width: 77%;
    max-width: 1110px;
    margin: auto;
    gap: 30px;
}

.content_pr {
    align-self: center;
    /*width: 540px;*/
    /*height: 331px;*/
}

.btn_pr {
    display: inline-flex;
    height: 65px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    border: 1px solid #598D66;
    background: #fff;
    color: #598D66;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
}

.btn_pr:hover {
    background: #376B44;
    color: white;
    transition: 0.5s;
}

.navigations {
    max-width: 1110px;
    display: flex;
    width: 77%;
    margin: auto;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.reproduct {
    color: #2C2D35;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    justify-content: space-between;
}

.product_ul {
    list-style: none;
    display: flex;
    gap: 32px;
    align-self: center;
}
.product_li {
    color: #2C2D35;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 20px;
    background: #D4E8D9;
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
}

.product_li:hover {
    background: #376B44;
    color: white;
    transition: 0.4s;
}

/*/ Стили для продуктов /*/

.img_product {
    height: 422px;
    width: 100%;
}

.author {
    color: #86928B;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 20px;
}

.name_picture {
    color: #2C2D35;
    font-family: Raleway, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 10px;
}

.materials {
    color: #2C2D35;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 8px;
}

.price {
    color: #598D66;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn_item {
    width: 100%;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border: 1px solid #598D66;
    background: #E1EDE6;
    color: #598D66;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.btn_item:hover {
    color: white;
    background: #598d66;
    transition: 0.5s;
}

.item {
    /*width: 350px;*/
    width: calc(33.33333% - 20px);
    box-sizing: border-box;
    background: #E1EDE6;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px 20px;
    /*margin-top: 30px;*/
}

.items_box {
    max-width: 1110px;
    width: 77%;
    margin: auto;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

/*/Новая коллекция/*/

.description_newItem {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
    width: 540px;
}


.title_newItem {
    color: #F4F6F5;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    align-self: center;
    width: 421px;

}

.btn_newItem {
    padding: 20px 60px;
    background: #EEDB6D;
    color: #2C2D35;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    border: none;
}

.btn_newItem:hover {
    transition: 0.5s;
    background: #faeb97;
}

.icon_newItem {
    width: 80px;
    height: 80px;
    padding-right: 20px;
}

.new_items {
    background-image: url("https://live.verstaem.online/house/img/newbies-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 574px;
    position: relative;
}

.new_items::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0), rgb(0, 0, 0));;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.box_image_titleItems {
    display: flex;
    padding-bottom: 20px;
}

.box_newItems {
    max-width: 1110px;
    width: 77%;
    margin: auto;
    box-sizing: border-box;
    padding-top: 70px;
    z-index: 3;
    position: relative;
}

.description_newItem_box {
    padding-bottom: 60px;
}

/*/Наша команда/*/

.img_command {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    object-fit: cover;
}

.command_photo {
    display: flex;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 44px;
}

.commands {
    display: flex;
    max-width: 1110px;
    width: 77%;
    margin: auto;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 30px;
}

.command_title {
    color: #2C2D35;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%
}

.command_description {
    color: #2C2D35;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.command_box {
    align-self: flex-end;
}

.hand {
    object-fit: cover;
    height: 440px;
}

/*/Футер/*/

.adaptive_tablet {
    display: flex;
    gap: 248px;
}

footer {
    background: #E1EDE6;
    height: 168px;
    display: flex;
    align-items: center;
}

.categories_footer {
    list-style: none;
    color: #86928B;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.name_categories_footer {
    list-style: none;
    color: #2C2D35;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_box {
    max-width: 1100px;
    width: 77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.number {
    color: #2C2D35;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_categories {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.footer_categories ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.ink {
    color: #86928B;
    font-family: Raleway, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.all_sites {
    display: flex;
    gap: 30px;
    padding-bottom: 10px;
}

.sites_ink {
    align-self: self-start;
}

.logo_and_contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_and_contacts img {
    padding-bottom: 35px;
}

.ink_desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 1100px) {

    .li_comp {
        color: #2C2D35;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .img_name {
        width: 5%;
    }

    .pres {
        padding-top: 20px;
    }

    .commands {
        flex-direction: column;
        padding-left: 0;
    }
    .content_left, .pres, .navigations, .items_box, .box_newItems, .commands, .footer_box {
        width: 88%;
    }

    .item {
        width: calc(50% - 15px);
    }

    .reproduct {
        font-size: 30px;
        padding-right: 40px;
    }

    .product_li {
        font-size: 20px;
    }

    .product_ul {
     gap: 10px;
    }

    .img_product {
        width: 100%
    }

    .description_newItem {
        width: 100%;
    }

    .logo_and_contacts {
        justify-content: space-between;
        flex-direction: row;
        gap: 310px
    }

    .footer_box {
        flex-direction: column;
        width: 100%;
    }

    .adaptive_tablet {
        gap: 75px;
    }

    footer {
        height: 250px;
    }
}

@media (max-width: 689px) {

    .content_left {
        flex-direction: column;
    }

    .header_name_img {
        height: 123px;
    }

    .li_comp {
        font-size: 18px;
    }

    .img_name {
        align-items: center;
        margin: auto;
        align-self: center;
        width: auto;
        padding-bottom: 10px;
    }

    .list {
        padding-top: 10px;
        border-top: 1px solid #86928B;
        justify-content: center;
    }

    .product_ul {
        align-self: normal;
    }
    .navigations {
        flex-direction: column;
        gap: 15px;
        padding-top: 40px;
    }
    .adaptive_tablet {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .sites_ink {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: auto;
    }

    footer {
        height: 319px;
    }

    .categories_footer {
        color: #86928B;
        font-family: Raleway, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;

    }

    .footer_categories {
        border-bottom: 1px solid #86928B;
        padding-bottom: 10px;
    }

    .name_categories_footer {
        color: #2C2D35;
        font-family: Raleway, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal
    }

    .commands {
        padding-bottom: 30px;
    }

    .logo_and_contacts {
        /*width: 80%;*/
        gap: 95px;
    }

    .ink_desc {
        display: flex;
        gap: 10px;
        flex-direction: row;
    }

    .reproduct {
        font-size: 24px;
    }

    .product_li {
        font-size: 18px;
    }

    .title_newItem {
        font-size: 30px;
    }

    .description_newItem {
        font-size: 16px;
    }

    .btn_item {
        padding: 20px 10px;
    }

    .name_picture {
        font-size: 24px;
    }

    .author {
        font-size: 16px;
    }

    .name_picture {
        font-size: 16px;
    }

    .price {
        font-size: 20px;
    }

    .item {
        height: 570px;
    }

    .title_pr, .title_sp {
        font-size: 25px;
    }

    .description_pr {
        font-size: 13px;
        padding-bottom: 20px;
    }

    .btn_pr {
        font-size: 18px;
        padding: 10px 30px;
        height: 50px;
    }

    .img_pr {
        width: 195px;
        height: 239px;
        flex-shrink: 0;
    }
}

@media (min-width: 310px) and (max-width: 420px) {

    .img_pr {
        display: none;
    }

    .title_pr {
        font-size: 30px;
    }

    .description_pr {
        font-size: 14px;
    }

    .content_pr {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .navigations {
        padding-top: 0px;
    }

    .product_ul {
        overflow: scroll;
    }

    .item {
        width: 100%;
        height: 100%;
    }

    .img_product {
        /*width: 243px;*/
        height: 340px;
    }

    .box_newItems {
        padding-top: 50px;
    }

    .icon_newItem {
        width: 130px;
        height: 60px;
    }

    .btn_newItem {
        width: 100%;
        padding: 16px 60px;
    }

    .description_newItem_box {
        padding-bottom: 30px;
    }

    .title_newItem {
        font-size: 24px;
    }

    .hand {
        width: 100%;
        height: 100%;
    }

    .command_description {
        font-size: 16px;
    }

    .command_title {
        font-size: 24px;
    }

    .commands {
        display: block;
        padding-bottom: 94px;
    }

    .command_box {
        padding-top: 30px;
    }

    .command_photo {
        gap: 25px;
        padding-bottom: 0;
    }

    .name_categories_footer, .number {
        font-size: 16px;
    }

    .logo_and_contacts {
        gap: 16px
    }

    .footer_categories {
        gap: 25px;
    }

    .master, .number {
        text-align: end;
    }

    .logo_and_contacts img {
        padding-bottom: 20px;
        width: 40%;
    }

    .ink_desc {
        display: flex;
        gap: 10px;
        flex-direction: row;
    }
}